@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'padrao';
    src: url('../fontes/BebasNeue-Regular.ttf') format('TrueType');
}

body {
    height: 100vh;

    background: black url(../imagens/fundo.jpeg) center center no-repeat fixed;
    background-size: cover;
}



/* header */

header {
    background-image: linear-gradient(360deg, rgb(60, 112, 172), rgb(106, 47, 243));;
    background-size: cover;
    padding: 1px;
    max-width: 2460px;
    min-width: 300px
}

header h1 {
    font: bold 4em 'padrao';
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

header h2 {
    font: bold 1.5em 'padrao';
    text-align: center;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}


/* nav */

nav {
    padding: 7px;
    max-width: 2460px;
    min-width: 30px
}

nav a.primeiro {
    margin-right: 7px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition-duration: .2;
    font-family: 'arial';
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 5px;
    padding: 2px;
    transition: all ease-in-out .2s;
    color: white;
}



/* article, main e sections */

main {
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    min-width: 30px;
    margin: auto;
    padding: 30px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 1px 5px 3px rgba(158, 156, 156, 0.555);
}

article h1 {
    font: normal 28px 'arial';
    background-color: rgb(98, 180, 81);
    padding: 4px;
    padding-left: 30px;
    border-radius: 5px 5px 0px 0px;
}

article p {
    background-color: rgb(97, 141, 141);
    font: normal 18px 'times new roman';
    text-align: justify;
    padding: 8px;
    text-indent: 30px;
    line-height: 1.3em;
    border-radius: 0px 0px 5px 5px;
}

article#primeiro {
    margin-top: 5px;
}

article {
    margin-top: 30px;
}

article p.listtext {
    border-radius: 0px;
    padding-bottom: 15px;

}

article ol li {
    background-color: rgb(97, 141, 141);
    font: normal 18px 'times new roman';
    padding-left: 15px;
    list-style-position: inside;
    padding-bottom: 20px;
    list-style-type: none;
    list-style-type: '⭢';

}

article.img img {
    display: block;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
}

article p.imagemtext {
    border-radius: 0px;
}

article li.last {
    padding-bottom: 10px;
    border-radius: 0px
}

article li {
    text-indent: 30px;
}

p#diferente::before {
    content: '⭢';
}

p#diferente {
    text-indent: 20px;
    border-radius: 0px;
}

/* EXTRAS */

article.extras h1 {
    font: normal 20px 'arial';
    background-image: linear-gradient(240deg, rgba(196, 48, 196, 0.76), rgba(102, 34, 102, 0.76));
    color: white;
    
}

article.extras p {
    font: normal 18px 'times new roman';
    padding-bottom: 5px;
    background-color: #9d60ad;
}

article.extras ol li {
    padding-bottom: 5px;
    background-color: #9d60ad;
}

article.extras li.last {
    border-radius: 0px 0px 5px 5px;
}

article.extras {
    background-color: #A38AAF;
    border-radius: 5px;
    
}

.link {
    color: #000000;
    font-weight: normal;
}

article a {
    text-decoration: none;
    color: black;
    transition-duration: .15s;
}

article a:hover {
    color: #000DDE;
    text-decoration: underline;
    transition: all ease-in-out .15s;
}


article.extras li.last {
    padding-bottom: 15px;
}

article#primeiro h1 {
    background-image: linear-gradient(240deg, rgba(196, 48, 196, 0.76), rgba(102, 34, 102, 0.76));
    color: white;
}

article#primeiro p {
    background-color: #9D60AD;
}

article#segundo h1 {
    background-image: linear-gradient(240deg, rgba(33, 104, 145, 0.822), rgb(22, 64, 143)) ;
    color: white;
}

article#segundo p {
    background-color: rgba(78, 99, 158, 0.897);
}

article#segundo ol li {
    background-color: rgba(78, 99, 158, 0.897);
}

article.contatos li.ultimo {
    border-radius:  0px 0px 5px 5px;
}

article ol li{
    background-color: #6072A7;
}

article p {
    background-color:  #6072A7;
}

article h1 {
    background-image: linear-gradient(240deg, rgba(33, 104, 145, 0.822), rgb(22, 64, 143)) ;
}

strong.email {
    color: #000DDE;
}

article.contatos h1 {
    color: white;
}

#flex {
   display: flex;
   flex-direction: column;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #9D60AD;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    padding-bottom: 10px;
}

/* footer */

footer {
    background-color: black;
    color: white;
    text-align: center;
    font: normal 10px 'arial';
    margin-top: 30px;
    padding: 5px;
}

@media (max-width: 730px) {
    div {
        flex-direction: column;
        align-items: center;
    }
}