* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: rgba(129, 139, 30, 0.644);
}

@font-face {
    font-family: 'padrao';
    src: url('../PROJETOESCOLAR/fontes/BebasNeue-Regular.ttf') format('TrueType')
}

header {
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(360deg,rgb(194, 207, 130), rgb(175, 204, 69));
    max-width: 2460px;
    min-width: 250px;
}

header h1 {
    color: white;
    font: bold 4em 'padrao';
    letter-spacing: 2px;
}

main {
    max-width: 800px;
    min-width: 250px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 7px 7px;
}

main h2 {
    background-image: linear-gradient(90deg, rgb(175, 204, 69), rgb(194, 207, 130));
    padding: 3px;
    color: white;
    font: normal 1.8em 'arial';
    border-radius: 5px 5px 0px 0px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(187, 189, 67, 0);
    column-gap: 30px;
    row-gap: 20px;
    padding-bottom: 10px;
}


img {
    display: block;
    margin: auto;

}

article {
    background-color: rgba(187, 189, 67, 0.363);
    padding: 7px;
    font: normal 1em 'arial';
    border-radius: 0px 0px 5px 5px;
}

@media (max-width: 730px) {
    div {
        flex-direction: column;

    }
}
